{
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.11",
          "browsers": ["last 2 versions", ">1%"]
        }
      }
    ],
    "react"
  ]
}
