{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead, iOS 9"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
