{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.tsx", "test/**/*.tsx"],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-var-requires": 0
      },
      "env": {
        "jest": true
      },
      "globals": {
        "fail": true
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0,
        "no-console": 0
      }
    }
  ],
  "env": {
    "node": true,
    "es6": true
  }
}
