name: react-time-sync
on:
  - push

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Cache global yarn cache
        uses: actions/cache@v4
        with:
          path: /home/runner/.cache/yarn
          key: ${{ runner.OS }}-build-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-yarn-${{ env.cache-name }}-
            ${{ runner.OS }}-build-yarn-
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test-ci
        env:
          TZ: Europe/Berlin
      - name: Build
        run: yarn build
      - name: Upload test coverage information
        run: bash <(curl -s https://codecov.io/bash)
      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: build
  release:
    name: release
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: Download build
        uses: actions/download-artifact@v7
        with:
          name: build
          path: build
      - name: Release
        run: npx semantic-release@19 --branches main
        working-directory: build
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  notify-on-failure:
    needs:
      - build
      - release
    runs-on: ubuntu-latest
    if: failure() # only run this job when any of the previous jobs fail.
    steps:
      - name: Notify through commit comment
        uses: peter-evans/commit-comment@v4
        with:
          body: "@peterjuras: The workflow failed!"
